<div class="row justify-content-center fade-in-element">
  <div class="col-md-10">
    <div class="jukebox text-center bg-dark">
      <h1>Jukebox</h1>
      <div class="d-md-flex justify-content-center">
        <div class="mr-md-auto">
          <img src="../../../assets/music-venti.png" width="200" height="200" class="img-fluid">
        </div>
        <div class="align-self-center mx-md-3">
          <button (click)="previous()" class="navigation-button mb-md-2 controls">Précédent</button>
          <button (click)="next()" class="navigation-button mb-md-2 controls">Suivant</button>
          <button (click)="seekBackward()" class="navigation-button mb-md-2 controls">⏪</button>
          <button (click)="pause()" class="navigation-button mb-md-2 controls">⏯</button>
          <button (click)="seekForward()" class="navigation-button mb-md-2 controls">⏩</button>
        </div>
        <div class="ml-md-auto">
          <img src="../../../assets/music-beidou.png" width="200" height="200" class="img-fluid">
        </div>
      </div>
      {{nameCurrentTrack}}
      <div class="navigation-buttons text-center">
        <p>{{ currentTime }}</p>/<p>{{ getTotalDuration() }}</p>
      </div>
      <div class="navigation-buttons d-flex justify-content-center">
        <div class="progress-bar">
          <div class="progress bg-info progress-bar-striped" [style.width.%]="progress" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <ng-container *ngFor="let track of audioLinks">
              <div class="col-md-6 mb-3">
                <button (click)="changeTrack(track.id)" class="track-button btn-block btn-secondary"
                  [ngClass]="{'active': currentTrack === track.id}">{{ track.titre }}</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-8 offset-md-2">
  <div class="jukebox" style="display: none;">
    <h2>Jukebox</h2>
    <youtube-player #player [videoId]="currentTrack" [height]="0" [width]="0"
      suggestedQuality="highres"></youtube-player>
  </div>
</div>