<div class="fade-in-element">

  <h4 class="text-center">Ajouter un matériaux d'amélioration personnages</h4>

  <form [formGroup]="matAmelioPersoFormGroup" class="col-8 offset-2 transparent-form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-group">
      <label for="nom" class="form-label mt-4">Nom</label>
      <input inputValidation type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>   

    <div class="form-group">
      <label for="IconeFile" class="form-label mt-4">Icone</label>
      <input class="form-control" id="IconeFile" type="file" (change)="loadFile($event)">
    </div>

    <div class="form-group">
      <label for="source" class="form-label mt-4">Source</label>
      <input inputValidation type="text" class="form-control" id="source" placeholder="Source" formControlName="source">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="exampleSelect3" class="form-label mt-4">Rareté</label>
      <select inputValidation class="form-select" id="exampleSelect3" formControlName="rarete">
        <option value="" disabled selected hidden>Rareté</option>
        <option>4</option>
        <option>5</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="text-center">
      <button [disabled]="matAmelioPersoFormGroup.invalid" type="submit" class="mt-4 btn btn-primary">Valider</button>
    </div>
  </form>
</div>