<div class="fade-in-element">

    <h4 class="mt-5 text-center">Les régions</h4>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-5 mb-4">
            <h5 class="text-center" style="color:aquamarine"><b>Mondstat</b></h5>
            <a routerLink="mondstat"><img src="../../../assets/Mondstadt.webp" width="100%" height="auto"
                    class="mx-auto d-block zoom"></a>
        </div>
        <div class="col-md-5 mb-4">
            <h5 class="text-center" style="color:yellow"><b>Liyue</b></h5>
            <a routerLink="liyue"><img src="../../../assets/Liyue.webp" width="100%" height="auto" class="mx-auto d-block zoom"></a>
        </div>
        <div class="col-md-5 mb-4">
            <h5 class="text-center" style="color:blueviolet"><b>Inazuma</b></h5>
            <a routerLink="inazuma"><img src="../../../assets/Inazuma.webp" width="100%" height="auto" class="mx-auto d-block zoom"></a>
        </div>
        <div class="col-md-5 mb-4">
            <h5 class="text-center" style="color:green"><b>Sumeru</b></h5>
            <a routerLink="sumeru"><img src="../../../assets/Sumeru.jpg" width="100%" height="auto" class="mx-auto d-block zoom"></a>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-5 mb-4">
            <h5 class="text-center" style="color:rgb(57, 136, 226)"><b>Fontaine</b></h5>
            <a routerLink="fontaine"><img  src="../../../assets/Fontaine.jpg" width="100%" height="auto" class="mx-auto d-block zoom"></a>
        </div>
    </div>
</div>
