<div class="row justify-content-end">
  <div class="col-1">
    <button class="btn btn-outline-success" routerLink="/produits/create"><b class="buttonCreate">+</b></button>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Numéro</th>
        <th scope="col">Nom</th>
        <th scope="col">Icone</th>
        <th scope="col">Rareté</th>
        <th scope="col1">Source</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{produit.nom}}</td>
        <td><img [src]="'data:image/jpeg;base64,' + produit.icone" alt="{{produit.nom}}" width="35" height="34"/></td>
        <td><span class="star">{{produit.rarete| star}}</span></td>
        <td>{{produit.source}}</td>
      </tr>
    </tbody>
  </table>