<div class="fade-in-element">
    <div class="text-center" style="margin-top: -50px;"></div>

    <div class="row text-center">
        <div class="col-12">
            <p>Version actuelle du jeu : 4.3</p>
            <img class="img-fluid zoom" src="../../../assets/4-3.png" alt="Version 4.3" width="900" height="500">
            <hr>Bannières en cours jusqu'au 31 Janvier 2024.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 mb-4 zoom">
            <img class="img-fluid" src="../../../assets/Banniere-4.2-1.jpeg" alt="Banniere 4.2-1" width="600" height="350">
        </div>
        <div class="col-md-6 mb-4 zoom">
            <img class="img-fluid" src="../../../assets/Banniere-4.3-2.jpeg" alt="Banniere 4.3-2" width="600" height="350">
        </div>
    </div>
    <div class="row mt-2 mb-5">
        <div class="col-6 offset-3 zoom">
            <img class="img-fluid" src="../../../assets/Banniere-4.3-3.jpeg" alt="Banniere 4.3-3" width="600" height="350">
        </div>
    </div>
</div>