<div class="fade-in-element">
    <div class="text-center">
        <img src="../../../assets/gi.png">
    </div>

    <div class="row text-center">
        <div class="col-12">
            <p>Version actuelle du jeu : 4.2</p>
            <img src="../../../assets/4-2.jfif" width="1000" height="500">
            <hr>Bannières en cours jusqu'au 20 Décembre 2023.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <img src="../../../assets/Banniere-4.2-1.webp" width="600" height="350">
        </div>
        <div class="col-6 mb-4">
            <img src="../../../assets/Banniere-4.2-2.jpeg" width="600" height="350">
        </div>
    </div>
    <div class="row mt-2 mb-5 text-center">
        <div class="col-12">
            <img src="../../../assets/Banniere-4.2-3.jpeg" width="600" height="350">
        </div>
    </div>
</div>