<div class="fade-in-element">

    <h4 class="text-center">Ajouter un personnage</h4>

    <form [formGroup]="personnagesFormGroup" class="col-8 offset-2" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nom" class="form-label mt-4">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
          </div>

        <div class="form-group">
            <label for="oeilDivin" class="form-label mt-4">Oeil Divin</label>
            <select class="form-select" id="oeilDivin" formControlName="oeilDivin">
                <option value="" disabled selected hidden>Oeil Divin</option>
                <option>Pyro</option>
                <option>Anemo</option>
                <option>Electro</option>
                <option>Hydro</option>
                <option>Dendro</option>
                <option>Cryo</option>
                <option>Geo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Type d'arme</label>
            <select class="form-select" id="exampleSelect1" formControlName="typeArme">
                <option value="" disabled selected hidden>Type d'arme</option>
                <option>Epée</option>
                <option>Claymore</option>
                <option>Arc</option>
                <option>Lance</option>
                <option>Catalyseur</option>
            </select>
        </div>

        <div class="form-group">
            <label for="lore" class="form-label mt-4">Lore</label>
            <input type="text" class="form-control" id="lore" placeholder="Lore" formControlName="lore">
          </div>

        <div class="form-group">
            <label for="nationalite" class="form-label mt-4">Nationalité</label>
            <select class="form-select" id="nationalite" formControlName="nationalite">
                <option value="" disabled selected hidden>Nationalité</option>
                <option>Mondstat</option>
                <option>Liyue</option>
                <option>Inazuma</option>
                <option>Sumeru</option>
                <option>Fontaine</option>
                <option>Natlan</option>
                <option>Snezhnaya</option>
            </select>
        </div>

        <div class="form-group">
            <label for="traileryt" class="form-label mt-4">Trailer Youtube</label>
            <input type="text" class="form-control" id="traileryt" placeholder="Trailer Youtube" formControlName="trailerYT">
          </div>

          <div class="form-group">
            <label for="date" class="form-label mt-4">Date de sortie</label>
            <input class="form-control" type="date" id="date" formControlName="dateSortie">
            </div>
        
        <div class="form-group">
            <label for="armeId" class="form-label mt-4">Arme signature (optionnel)</label>
            <select class="form-select" id="armeId" formControlName="armeId">
                <option value="" disabled selected hidden>Arme signature</option>
                <option *ngFor="let arme of armesListe" [value]="arme.id">{{ arme.nom }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="materiauxAmeliorationPersonnageId" class="form-label mt-4">Materiaux d'amélioration
                Personnage</label>
            <select class="form-select" id="materiauxAmeliorationPersonnageId"
                formControlName="materiauxAmeliorationPersonnageId">
                <option value="" disabled selected hidden>Materiaux d'amélioration</option>
                <option *ngFor="let mat of matAmeliorationPersonnagesListe" [value]="mat.id">{{ mat.nom }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="produitId" class="form-label mt-4">Produits d'elevation</label>
            <select class="form-select" id="produitId" formControlName="produitId">
                <option value="" disabled selected hidden>Produits d'elevation</option>
                <option *ngFor="let produit of produitsListe" [value]="produit.id">{{ produit.nom }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rarete" class="form-label mt-4">Rareté</label>
            <select class="form-select" id="rarete" formControlName="rarete">
                <option value="" disabled selected hidden>Rareté</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <hr>

        <div class="form-group">
            <label for="livres" class="form-label mt-4">Matériaux elevation d'armes(multiple)</label>
            <select multiple="" class="form-select" id="livres"  formControlName="selectedLivres">
              <option *ngFor="let livre of LivresAptitudeListe" [value]="livre.id">{{ livre.nom }}</option>
            </select>
          </div>

        <div class="form-group">
            <label for="portraitFile" class="form-label mt-4">Portrait</label>
            <input type="file" id="portraitFile" class="form-control" (change)="loadIcone($event)">
          </div>

        <div class="form-group">
            <label for="splashartFile" class="form-label mt-4">Splash Art</label>
            <input type="file" id="splashartFile" class="form-control" (change)="loadImage($event)">
          </div>

        <button type="submit" class="mt-4 btn btn-primary">Valider</button>
    </form>
</div>