.custom-img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 200px;
    height: 150px;
    border: solid 2px #0f2537;
    overflow: visible;
  }

  .pop{
    position: absolute;
    background-color: #0f2537;
    border: 1px solid #df6919;
    padding: 10px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}