<nav aria-label="Pagination" class="my-4">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="visually-hidden">Précédent</span>
      </button>
    </li>
    <li class="page-item">
      <span class="page-link">Page {{ currentPage }} sur {{ totalPages }}</span>
    </li>
    <li class="page-item">
      <button class="page-link" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
        <span aria-hidden="true">&raquo;</span>
        <span class="visually-hidden">Suivant</span>
      </button>
    </li>
  </ul>
</nav>
