<div *ngIf="personnage && produit && mat" class="fade-in-element">
    <h4 class="text-center mb-5">{{ personnage.nom }}</h4>

    <div class="row">
        <div class="col-md-auto hover-zoom">
            <img data-bs-toggle="modal" data-bs-target="#imageModal"
                [src]="'data:image/webp;base64,' + personnage.splashArt" alt="{{ personnage.nom }}"
                class="img-fluid rounded" />
        </div>
        <div class="col-md-auto mt-5">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="bg-dark">Rareté</td>
                        <td><span class="star">{{personnage.rarete | star }}</span></td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Oeil Divin</td>
                        <td>{{personnage.oeilDivin}}</td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Type d'arme</td>
                        <td>{{personnage.typeArme}}</td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Lore</td>
                        <td>{{personnage.lore}}</td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Nationalité</td>
                        <td>{{personnage.nationalite}}</td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Date de sortie</td>
                        <td>{{personnage.dateSortie | date:'d MMMM y'}}</td>
                    </tr>
                    <tr *ngIf="arme">
                        <td class="bg-dark">Arme signature</td>
                        <td><img [src]="'data:image/webp;base64,' + arme.image" alt="{{arme.nom}}" width="30"
                                height="50" /><b (click)="goDetails(arme.nom)" class="text-primary">{{arme.nom}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-dark">materiaux d'amelioration personnage</td>
                        <td><img [src]="'data:image/webp;base64,' + mat.icone" alt="{{mat.nom}}" width="50"
                                height="50" />{{mat.nom}}</td>
                    </tr>
                    <tr>
                        <td class="bg-dark">Produit d'amelioration personnage</td>
                        <td><img [src]="'data:image/webp;base64,' + produit.icone" alt="{{produit.nom}}" width="50"
                                height="50" />{{produit.nom}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#livres-aptitude" aria-selected="true"
                role="tab">Livres d'aptitude</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#materiaux-elevation" aria-selected="false" role="tab"
                tabindex="-1">Matériaux d'élévation</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#materiaux-amelioration" aria-selected="false" role="tab"
                tabindex="-1">Matériaux d'amélioration</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#constellations" aria-selected="false" role="tab"
                tabindex="-1">Constellations</a>
        </li>
    </ul>

    <!-- Contenu des onglets -->
    <div class="tab-content">

        <!-- Livres d'aptitude -->
        <div class="tab-pane fade show active" id="livres-aptitude" role="tabpanel">
            <div class="table-responsive fade-in-element mt-3" *ngIf="livresAptitude">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Icone</th>
                            <th scope="col">Rareté</th>
                            <th scope="col">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let livre of livresAptitude; let i = index">
                            <th scope="row" class="align-middle">{{i+1}}</th>
                            <td class="align-middle">{{livre.nom}}</td>
                            <td class="align-middle"><img [src]="'data:image/jpeg;base64,' + livre.icone"
                                    alt="{{livre.nom}}" width="50" height="50" /></td>
                            <td class="align-middle"><span class="star">{{livre.rarete | star}}</span></td>
                            <td class="align-middle">{{livre.source}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Matériaux d'élévation -->
        <div class="tab-pane fade" id="materiaux-elevation" role="tabpanel">
            <div class="table-responsive fade-in-element mt-3" *ngIf="materiauxElevation">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Icone</th>
                            <th scope="col">Rareté</th>
                            <th scope="col">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mat of materiauxElevation; let i = index">
                            <th scope="row" class="align-middle">{{i+1}}</th>
                            <td class="align-middle">{{mat.nom}}</td>
                            <td class="align-middle"><img [src]="'data:image/jpeg;base64,' + mat.icone"
                                    alt="{{mat.nom}}" width="50" height="50" /></td>
                            <td class="align-middle"><span class="star">{{mat.rarete | star}}</span></td>
                            <td class="align-middle">{{mat.source}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Matériaux d'amélioration -->
        <div class="tab-pane fade" id="materiaux-amelioration" role="tabpanel">
            <div class="table-responsive fade-in-element mt-3" *ngIf="materiauxAmelioPersosArmes">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Icone</th>
                            <th scope="col">Rareté</th>
                            <th scope="col">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mat of materiauxAmelioPersosArmes; let i = index">
                            <th scope="row" class="align-middle">{{i+1}}</th>
                            <td class="align-middle">{{mat.nom}}</td>
                            <td class="align-middle"><img [src]="'data:image/jpeg;base64,' + mat.icone"
                                    alt="{{mat.nom}}" width="50" height="50" /></td>
                            <td class="align-middle"><span class="star">{{mat.rarete | star}}</span></td>
                            <td class="align-middle">{{mat.source}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- constellations -->
        <div class="tab-pane fade" id="constellations" role="tabpanel">
        <div *ngIf="constellations.length < 6">
            <button class="btn btn-primary mt-3" (click)="createConstellation(personnage.id)">+</button>
        </div>
        <div class="table-responsive fade-in-element mt-3" *ngIf="constellations.length > 0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Icone</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let constellation of constellations; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><img [src]="'data:image/jpeg;base64,' + constellation.icone" alt="{{ constellation.nom }}" width="50" height="50" /></td>
                        <td>{{ constellation.nom }}</td>
                        <td>{{ constellation.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


    <!-- Trailer Youtube -->
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 mb-5">
            <div style="position: relative; overflow: hidden; padding-top: 56.25%;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" [src]="trailer"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl"
            style="display: flex; align-items: center; justify-content: center;">
            <img [src]="'data:image/webp;base64,' + personnage.splashArt" alt="{{ personnage.nom }}" width="2500"
                height="1250" />
        </div>
    </div>