<div class="row justify-content-end fade-in-element">
  <h4 class="text-center">Liste des matériaux d'amélioration personnages</h4>
    <div class="col-1">
      <button class="btn btn-outline-primary" routerLink="/materiaux-amelioration-personnages/create">+</button>
    </div>
  </div>
  
  <table class="table fade-in-element">
      <thead>
        <tr>
          <th scope="col">Numéro</th>
          <th scope="col">Nom</th>
          <th scope="col">Icone</th>
          <th scope="col">Rareté</th>
          <th scope="col">Source</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materiaux of materiauxListe; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{materiaux.nom}}</td>
          <td><img [src]="'data:image/jpeg;base64,' + materiaux.icone" alt="{{materiaux.nom}}" width="35" height="34"/></td>
          <td><span class="star">{{materiaux.rarete | star }}</span></td>
          <td>{{materiaux.source}}</td>
        </tr>
      </tbody>
    </table>