<nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Genshin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active"routerLink="home">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="materiaux-elevation-armes/liste">Liste des materiaux elevation armes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="armes/liste">Liste des armes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="produits/liste">Liste des produits</a>
          </li>
          <li ngbDropdown class="d-inline-block">
            <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
              Créer
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" routerLink="materiaux-elevation-armes/create">Créer un materiau elevation armes</button>
              <button class="dropdown-item" routerLink="armes/create">Créer une arme</button>
              <button class="dropdown-item" routerLink="produits/create">Créer un produit</button>
              </div>
            </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>