<div class="container text-center fade-in-element">
    <h1>Oups ! Paimon n'a pas pu trouver cette page...</h1>
    <img src="../../../assets/error.png" alt="Image de Paimon déçue" class="img-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead">
                Paimon est désolée, mais elle semble avoir perdu son chemin. Elle pensait trouver quelque chose d'intéressant ici, mais il semblerait que ce ne soit pas le cas.
            </p>
            <p>
                Paimon va devoir retourner à l'aventure pour trouver ce qu'elle cherchait. En attendant, essayez de revenir en arrière ou de choisir une autre voie !
            </p>
        </div>
    </div>
</div>