<div class="fade-in-element">

  <h4 class="text-center">Ajouter une arme</h4>

  <form class="col-8 offset-2 transparent-form" [formGroup]="armesFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-group">
      <label for="nom" class="form-label mt-4">Nom</label>
      <input inputValidation type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Type d'arme</label>
      <select inputValidation class="form-select" id="exampleSelect1" formControlName="typeArme">
        <option value="" disabled selected hidden>Type d'arme</option>
        <option>Epée</option>
        <option>Claymore</option>
        <option>Arc</option>
        <option>Lance</option>
        <option>Catalyseur</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="desc" class="form-label mt-4">Description</label>
      <input inputValidation type="text" class="form-control" id="desc" placeholder="Description" formControlName="description">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="IconeFile" class="form-label mt-4">Icone</label>
      <input class="form-control" id="IconeFile" type="file" (change)="loadIcone($event)">
    </div>

    <div class="form-group">
      <label for="ImageFile" class="form-label mt-4">Image</label>
      <input type="file" class="form-control" (change)="loadImage($event)">
    </div>

    <div class="form-group">
      <label for="exampleSelect2" class="form-label mt-4">Statistique principale</label>
      <select inputValidation class="form-select" id="exampleSelect2" formControlName="nomStatPrincipale">
        <option value="" disabled selected hidden>Statistique principale</option>
        <option>ATQ %</option>
        <option>Defense %</option>
        <option>Degats physique %</option>
        <option>Taux Critique %</option>
        <option>Degats Critique %</option>
        <option>Recharge Energie %</option>
        <option>Maitrîse Elementaire</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="vsp" class="form-label mt-4">Valeur de la stat principale</label>
      <input inputValidation type="number" class="form-control" id="vsp" placeholder="Valeur statistique principale" formControlName="valeurStatPrincipale">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="ep" class="form-label mt-4">Effet passif</label>
      <input inputValidation type="text" class="form-control" id="ep" placeholder="Effet passif" formControlName="effetPassif">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="atqbase" class="form-label mt-4">Attaque de base</label>
      <input inputValidation type="number" class="form-control" id="atqbase" placeholder="Attaque de base" formControlName="atqBase">
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="exampleSelect3" class="form-label mt-4">Rareté</label>
      <select inputValidation class="form-select" id="exampleSelect3" formControlName="rarete">
        <option value="" disabled selected hidden>Rareté</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <hr>

    <div class="form-group">
      <label for="mats" class="form-label mt-4">Matériaux elevation d'armes(multiple)</label>
      <select inputValidation multiple="" class="form-select" id="mats"  formControlName="selectedMats">
        <option *ngFor="let mat of matListe" [value]="mat.id">{{ mat.nom }}</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="mats" class="form-label mt-4">Matériaux amelioration personnages et armes(multiple)</label>
      <select inputValidation multiple="" class="form-select" id="mats"  formControlName="selectedMatsAmelio">
        <option *ngFor="let mat of matAmelioListe" [value]="mat.id">{{ mat.nom }}</option>
      </select>
      <div class="invalid-feedback"></div>
      <div class="valid-feedback"></div>
    </div>

    <button [disabled]="armesFormGroup.invalid" type="submit" class="mt-4 btn btn-primary">Valider</button>
  </form>
</div>