<div class="row justify-content-end fade-in-element">
    <h4 class="text-center">Liste des livres d'aptitude</h4>
    <div class="col-1" *ngIf="role == 'Admin'">
      <button class="btn btn-outline-primary" routerLink="/livres-aptitude/create">+</button>
    </div>
  </div>
  
  <div class="table-responsive fade-in-element mt-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Icone</th>
                <th scope="col">Rareté</th>
                <th scope="col">Source</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livre of livres; let i = index">
                <th scope="row" class="align-middle">{{i+1}}</th>
                <td class="align-middle">{{livre.nom}}</td>
                <td class="align-middle"><img [src]="'data:image/jpeg;base64,' + livre.icone" alt="{{livre.nom}}" width="50" height="50" /></td>
                <td class="align-middle"><span class="star">{{livre.rarete | star}}</span></td>
                <td class="align-middle">{{livre.source}}</td>
            </tr>
        </tbody>
    </table>
  </div>