/* You can add global styles to this file, and also import other style files */
.star{
    color:rgba(240, 217, 8, 0.74);
}

.buttonCreate{
    font-size: 20px;
}

body{
    /* background-color:#01132e;
    color: white; */
    font-size: 20px;
}

/* .table th, .table td{
    color:white;
    background-color:#01132e;
} */