<div class="fade-in-element">

    <h4 class="text-center">Ajouter une Aptitude</h4>
  
    <form [formGroup]="AptitudesFormGroup" class="col-8 offset-2" (ngSubmit)="onSubmit()" autocomplete="off">
  
      <div class="form-group">
        <label for="nom" class="form-label mt-4">Nom</label>
        <input inputValidation type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
      </div>   
  
      <div class="form-group">
        <label for="IconeFile" class="form-label mt-4">Icone</label>
        <input class="form-control" id="IconeFile" type="file" (change)="loadFile($event)">
      </div>

        
      <div class="form-group">
        <label for="source" class="form-label mt-4">Description</label>
        <input inputValidation type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
      </div>

      <div class="form-group">
        <label for="isAptitudeCombat" class="form-label mt-4">est une aptitude de combat ?</label>
        <select inputValidation class="form-select" id="isAptitudeCombat" formControlName="isAptitudeCombat">
          <option value="false">Non</option>
          <option value="true">Oui</option>
        </select>
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
      </div>
  
      <button [disabled]="AptitudesFormGroup.invalid" type="submit" class="mt-4 btn btn-primary">Valider</button>
    </form>
  </div>