<div class="row justify-content-end fade-in-element">
  <h4 class="text-center">Liste des personnages</h4>
  <div class="col-1">
    <button class="btn btn-outline-primary" routerLink="/personnages/create">+</button>
  </div>
</div>

<div class="row fade-in-element" *ngIf="personnages">
  <div class="col-auto" *ngFor="let personnage of personnages">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <img class="img" (click)="goDetails(personnage.nom)" [src]="'data:image/jpeg;base64,' + personnage.portrait"
          alt="{{personnage.nom}}" width="190" height="190" />
        <h4 class="card-title text-center mt-1">{{personnage.nom}}</h4>
        <p class="card-text text-center"><span class="star">{{personnage.rarete | star }}</span></p>
        <p class="text-center"><img src="../../../../assets/{{personnage.oeilDivin}}.png" width="50"
          height="50"></p>
      </div>
    </div>
  </div>

</div>