<div class="row justify-content-end">
  <div class="col-1">
    <button class="btn btn-outline-success" routerLink="/personnages/create"><b class="buttonCreate">+</b></button>
  </div>
</div>

<div class="row" *ngIf="personnages">
  <div class="col-auto" *ngFor="let personnage of personnages">
    <img (click)="goDetails(personnage.nom)" [src]="'data:image/jpeg;base64,' + personnage.portrait"
      alt="{{personnage.nom}}" width="150" height="150" />
    <div class="text-center">
      <span>{{personnage.nom}}</span><br />
      <span class="star">{{personnage.rarete | star }}</span>
    </div>
  </div>
  <div class="col-auto offset-1" *ngFor="let personnage of personnages">
    <img (click)="goDetails(personnage.nom)" [src]="'data:image/jpeg;base64,' + personnage.portrait"
      alt="{{personnage.nom}}" width="150" height="150" />
    <div class="text-center">
      <span>{{personnage.nom}}</span><br />
      <span class="star">{{personnage.rarete | star }}</span>
    </div>
  </div>

</div>